*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.logo-nav{
	background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo-nav a{
	color: white;
}

.main-nav ul{
	list-style-type: none;
}

header .nav-link{
  color:#000428;
  font-weight: bolder;

} 
header #navbar-example .active {
  color: #fff;
  background-color: #e01933;
}
header .main .nav-link {
  border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
header .main .nav-link:hover{
	color: #fff;
  	background-color: #e01933;
  	


}


.nav-flex-icons{
  border-left: 1px solid gray;
}

.main-nav .nav-content ul li a{
	font-weight: bolder;
	font-size: 18px;

}